* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;

}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  background: black;
}
/* FIRST SECTION */
.main-nav-header {
  color: grey;
}

.first_list_nav_header:hover {
  color: white;
  border-left: 3px solid green;
  cursor: pointer;
}
.logo_spotify {
  width: 50%;
  margin: 20px;
}
.logo_nav_header {
  vertical-align: middle;
  width: 10%;
  margin: 5px 5px 5px 15px;
}

.second_section {
  margin-left: 15px;
}
#playlist_second_section {
    margin-top: 35px;   
    color: white;
    font-size: 15px;
}
